<h1 class="text-orange">Amaps#index</h1>
<p>Find me in app/views/amaps/index.html.erb</p>

<h3 class="text-black">Liste des amaps</h3>

<ul class="flex space-x-4">
  <% @amaps.each do |amap| %>
    <li>
      <div class="card bg-beige">
        <% if user_signed_in? %>
          <%= link_to amap.name, user_root_url(subdomain: amap.subdomain) %>
        <% else %>
          <%= link_to amap.name, root_url(subdomain: amap.subdomain) %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
