<div class="flex flex-col items-center">
  <h1 class="mt-32 mb-16"><%= Amap.current.name %></h1>
  <p class="my-4">Se connecter en tant que:</p>
  <div class="w-9/12 flex justify-center space-x-4 text-3xl font-bold">
    <%= link_to "Consommateur", new_user_session_path, class: "card text-center bg-green text-white hover:shadow-green transition duration-300 flex-1" %>
    <%= link_to "Producteur", new_producer_session_path, class: "card text-center bg-yellow text-white hover:shadow-yellow transition duration-300 flex-1" %>
  </div>
</div>


