  <h1>Gestion de <%= Amap.current.name %></h1>

  <%= link_to "Confirmer un paiement en validant la réception de chèques.", confirm_deposit_pick_user_manager_payments_path, class: 'block bg-pink-300 hover:bg-pink-100 font-bold text-pink-700 p-8 text-lg border-2 border-pink-700 max-w-md my-2' %>

  <%= link_to "Remettre une enveloppe de chèques à un producteur", give_envelope_pick_producer_manager_cheques_path, class: 'block bg-green-300 hover:bg-green-100 font-bold text-green-700 p-8 text-lg border-2 border-green-700 max-w-md my-2' %>







